<!DOCTYPE html>
{% load static %}{% load staticfiles %}
<html class="no-js" lang="en">
<head>

    <meta charset="utf-8">
    <title>Chatshroom</title>
    <link rel="icon" href="{% static 'chat/images/Logo.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'chat/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'chat/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'chat/css/main.css' %}">
    <script src="{% static 'chat/js/modernizr.js' %}"></script>
    <script src="{% static 'chat/js/pace.min.js' %}"></script>

    <!--This is now the stuff for the Login Section-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.1/cerulean/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/0.9.3/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/Login-main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/Login-util.css' %}">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="{% url 'chat:main' %}">
                <img src="{% static 'chat/images/Name.png' %}" alt="Homepage" style="width:350px;height:50px;">
            </a>
        </div>

    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{% static 'chat/images/bg.jpg' %}" data-natural-width=3000 data-natural-height=1000 data-position-y=top>

        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">
                <h1 class="title">
                Chatshroom
                </h1>
                <p class="title">
                Chat simply
                </p>
            </div>

        </div> <!-- end home-content -->


        <!-- Login Form -->

        <div class="form">
            <div class="wrap-login100 animated fade-in-right">
                <form class="login100-form validate-form">
					<span class="login100-form-logo">
						<img src={% static 'chat/images/Logo.png' %}" style="width:100px;height:100px;">
					</span>

                    <span class="login100-form-title p-b-34 p-t-27">
						Login
					</span>

                    <div style="align-content:left" class="wrap-input100 validate-input" data-validate = "Enter username">
                        <input class="input100" type="text" name="username" placeholder="Username">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div style="align-content:left" class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div style="align-content:left" class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>

                    <div class="text-center p-t-90">
                        <a class="txt2" href="#">
                            New? Register here! <br> <br>
                        </a>
                        <a class="txt1" href="#">
                            Forgot Password?
                        </a>
                    </div>
                </form>
            </div>
        </div>



        <ul class="home-social">
            <li class="home-social-title">&copy;2018 Chatshroom</li>
            <li><a href="https://about.chatshroom.me/">
                <span class="home-social-text">About</span>
            </a></li>
            <li><a href="https://team.chatshroom.me/">
                <span class="home-social-text">Team</span>
            </a></li>
            <li><a href="https://support.chatshroom.me/">
                <span class="home-social-text">Support</span>
            </a></li>
        </ul>
    </section> <!-- end s-home -->



    <div id="preloader">
        <div id="loader">            
        </div>
    </div>
    <script src="{% static 'chat/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'chat/js/plugins.js' %}"></script>
    <script src="{% static 'chat/js/main.js' %}"></script>

     <!-- For Login Form -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>


</body>

</html>