<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Chatshroom</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="container">
    <div class="contacts">
    <div class="buttons">
      <button class="new-message fa-envelope-o"></button><button class="search fa-search"></button>
    </div>
    <ul>
      <li>Peron/Group</li>
      <li>Peron/Group</li>
      <li>Peron/Group</li>
      <li>Peron/Group</li>
    </ul>
    </div>
    <div class="messages">
      <ul>
        <li>
          Message from 1
        </li>
        <li>
         Message from 2
        </li>
      </ul>
    </div>
    <div class="stack-wrap"></div>
    <div class="form">
      <div class="form-inner">
        <button>✚</button>
      </div>
    </div>
    </div>
    <script src="js/index.js"></script>

    </body>
</html>
